*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: rgb(184, 177, 177);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 0 100px  rgb(0, 0, 0);
}

.container .left{
    position: relative;
    background: #5D688A;
    padding: 40px;
}


.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.171);
}

.profileText .profileImg{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .profileImg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2{
    color: #fcf5f5;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.Info{
    padding: 30;
}

.title{
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 0.4px;
    font-weight: 600;
    margin-bottom: 20px;
    padding: 10;
}

.Info ul{
    position: relative;
}

.Info ul li{
    position: relative;
    list-style: none; 
    margin: 10px 0;
    cursor: pointer;
}

.Info ul li span{
    color: #DCD3C9;
    font-weight: 200;
}

.trainings li{
    margin-bottom: 15px;
}

.trainings h5{
    color: #26667F;
    font-weight: 600;
    font-size: 15px;
}

.trainings h4{
    color: #080808;
    font-weight: 500;
}

.trainings h4{
    color: #080808;
    font-weight: 300;
}

.reference{
    color: #DCD3C9;
    font-weight: 300;
}


ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container .right{
    position: relative;
    background: #fff;
    padding: 40px;
}

.objective{
    margin-bottom: 50px;
}

.objective:last-child{
    margin-bottom: 0px;
}

.obj1{
    color: #124170;
    text-transform: uppercase;
    margin-bottom: 10px;
}

p{
    color: #080808;
}

.objective .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.objective .box .school_year{
    min-width: 150px;
}

.objective .box .school_year h5{
    text-transform: uppercase;
    color: #474747;
    font-weight: 600;
}

.objective .box .text h4{
    text-transform: uppercase;
    color: #124170;
    font-size: 16px;
}

.skills{
    position: relative;
    width: 100%;
    display: grid;
    color: #DCD3C9;
    font-weight: 200;
    list-style-type: disc;
}

@media(max-width : 1000px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
}
